.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  width: 105px;
  height: 39px;
  position: relative;
  left: 30px;
  top: 30px;
  margin-bottom: 183px;
}

.nav__links {
  display: flex;
  margin-right: 80px;
  margin-top: 30px;
  column-gap: 20px;
  list-style-type: none;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}
.nav__link:hover {
  color: #2f80ed;
}
